div#login{
	margin: 4% auto 0 auto;
	width: 70%;
	max-width: 400px;
	height: auto;
	min-height: 142px;
}

div#login div a{
	display: inline-block;
	width: 90%;
	padding: 5%;
	background: #007DD1;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: center;
	text-decoration: none;
	color: #f7f7f7;
	font-size: 1.4em;
	font-weight: 300;
	-webkit-box-shadow:0 0 5px 0 rgba(255,255,255,0.2), inset 1px 1px 5px 0 rgba(0,0,0,0.4);
	box-shadow:0 0 5px 0 rgba(255,255,255,0.2), inset 1px 1px 5px 0 rgba(0,0,0,0.4);
	text-shadow: 1px 1px 1px #888;
}

div#login div a:hover, div#login div a:focus{
	background: #007ACC;
	-webkit-box-shadow:0 0 7px 0 rgba(255,255,255,0.3), inset 1px 1px 7px 0 rgba(0,0,0,0.6);
	box-shadow:0 0 7px 0 rgba(255,255,255,0.3), inset 1px 1px 7px 0 rgba(0,0,0,0.6);
	color: #ffffff;
}

div#login #return_user a{
	margin-bottom: 20px;
}