<h1>Listing photos</h1>

<div id="container">
  <% @photos.each do |photo| %>
    <div class="photo">
      <%= link_to image_tag( photo.image.url(:small) ),
                  photo.image.url(:full),
                  title: photo.title,
                  rel: "wedding",
                  class: "fancybox"  %>
      <%= link_to raw('<i class="fa fa-trash-o"></i>'),
                  photo,
                  title: "Delete Photo",
                  method: :delete, 
                  data: { confirm: 'Are you sure?' },
                  class: "delete" %>
      <%= link_to raw('<i class="fa fa-link"></i>'),
                  photo,
                  title: "Share Photo Link",
                  class: "share" %>
      <p>Uploaded by <%= photo.user.name %></p>
    </div>
  <% end %>
</div>