<h1>New photo</h1>
<div class="content">

	<%= form_for Photo.new, html: { multipart: true } do |f| %>
	<div id="upload_functions">
		<div class="fileUpload button">
	    <span><i class="fa fa-plus"></i> Add files...</span>
		  <%= f.file_field :image, multiple: true, name: "photo[image]", class: "upload" %>
		</div>
		<div id="progress" class="progress">
				<div class="bar" style="width:0%;"></div>
		</div>
		<%= link_to 'Back', photos_path, class:"back_button button" %>
	</div>
	<% end %>

	<div id="photos"></div>

</div>