@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700);

@import 'config';

html, body{
  font-family: 'Roboto', sans-serif;
}

html{
  position: relative;
  min-height: 100%;
  background: #f9f9f9;
  background: -moz-linear-gradient(-45deg, #f9f9f9 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9f9f9), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(-45deg, #f9f9f9 0%,#dddddd 100%);
  background: -o-linear-gradient(-45deg, #f9f9f9 0%,#dddddd 100%);
  background: -ms-linear-gradient(-45deg, #f9f9f9 0%,#dddddd 100%);
  background: linear-gradient(135deg, #f9f9f9 0%,#dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dddddd',GradientType=1 );
}

body{
  margin: 0 0 30px;
}

header{
  width: 100%;
  height: 65px!important;
  display: inline-block;
}

header nav{
  display: inline-block;
  float: right;
}

header nav a{
  display: inline-block;
  float: right;
  margin: 10px 10px 0 0;
  padding: 15px 20px;
  background: $blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: $background-color;
  font-weight: 300;
  -webkit-box-shadow:0 0 5px 0 rgba(255,255,255,0.2), inset 1px 1px 3px 0 rgba(0,0,0,0.4);
  box-shadow:0 0 5px 0 rgba(255,255,255,0.2), inset 1px 1px 3px 0 rgba(0,0,0,0.4);
  text-shadow: 1px 1px 1px #888;
}

header nav a:hover, header nav a:focus{
  background: #007ACC;
  -webkit-box-shadow:0 0 7px 0 rgba(255,255,255,0.3), inset 1px 1px 3px 0 rgba(0,0,0,0.6);
  box-shadow:0 0 7px 0 rgba(255,255,255,0.3), inset 1px 1px 3px 0 rgba(0,0,0,0.6);
  color: #ffffff;
}

h1{
  font-family: 'Lobster', cursive;
  text-align: left;
  display: inline-block;
  font-size: 2em;
  padding: 16px;
  position: relative;
  text-shadow: 1px 1px 1px #fff;

  a {
    color:#000;
    text-decoration:none;
  }
}

h1.login{
  text-align: center;
  display: block;
  margin-top: 5%;
  font-size: 4em;
}

.content_left, .content_right{
  position: relative;
  float: left;
  display: inline-block;
  width: 43%;
  padding: 3%;
}

footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: inline-block;
}

footer p{
  text-align: right;
  padding: 6px 10px 0 0;
  font-size: 0.8em;
  color: #004A7A;
}