// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';

li.photo{
	width: 25%;
}

div.photo{
	width: 15%;
	padding: 1%;
}

div.photo img{
	width: 100%;
	height: auto;
}

div.photo.w2{
	width: 50%;
}