// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';

div#container{
	width: 99%;
	margin: 0 auto;
}

div.photo{
	width: 15%;
	padding: 0.75%;
	margin: 0.25%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

div.photo:hover{
	background: #dddddd;
	border-radius: 5px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

div.photo img{
	width: 100%;
	height: auto;
}

div.photo a{
	display: inline-block;
}

div.photo.w2{
	width: 50%;
}

div.photo a.share{
    left: 14px;
}

div.photo a.edit{
    right: 52px;
}

div.photo a.share, div.photo a.edit{       
    display: none;
    white-space: nowrap;
    overflow: hidden;
    background-color: #ccc;
    background-image: linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
    border: 1px solid #777;
    width: 30px;
    height: 30px;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    text-align: center;
    padding: 1px 1px 0 0;
    color: #333;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    position: absolute;
    bottom: 16px;
	z-index: 100;
}

div.photo a.share:hover, div.photo a.edit:hover {
    background-color: #ddd;        
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

div.photo a.share:active, div.photo a.edit:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
}

div.photo a.share:focus, div.photo a.edit:focus {
    outline: 0;
    background: #fafafa;
}    

div.photo a.delete{
	display: none;
    white-space: nowrap;
    overflow: hidden;
    background-color: #cc0000;
    background-image: linear-gradient(top, #ee0000, #cc0000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ee0000', EndColorStr='#cc0000');
    border: 1px solid #770000;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    text-align: center;
	padding: 0 1px 0 0;
    color: #330000;
    width: 30px;
    height: 30px;
    text-shadow: 0 1px 0 rgba(255,0,0,.8);
    border-radius: .2em;
    box-shadow: 0 0 1px 1px rgba(255,0,0,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    position: absolute;
	z-index: 100;
	bottom: 16px;
	right: 14px;
}

div.photo a.delete:hover {
    background-color: #dd0000;        
    background-image: linear-gradient(top, #fa0000, #dd0000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fa0000', EndColorStr='#dd0000');        
}

div.photo a.delete:active {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
}

div.photo a.delete:focus {
    outline: 0;
    background: #fa0000;
}    

div.photo p{
    display: none;
    position: absolute;
    top: 20px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 5px 8px;
    font-size: 12px;
}

div#link_share{
    display: none;
}

div.progress{
  border: 1px solid #000;
  border-radius:5px;
  height:30px;
  width:200px;
  div.bar{
    height:100%;
    background-color:green;
  }
}

/*.expander {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    padding: 4px;
    background: white url(http://png-2.findicons.com/files/icons/2232/wireframe_mono/48/expand.png) center center no-repeat;
    background-size: 25px 25px;
    z-index: 99999;   
    cursor: pointer;
}*/