// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config';
div#container{
	width: 99%;
	margin: 0 auto;
}

div.photo{
    padding: 0.75%;
    margin: 0.25%;
    max-width: 250px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

div.photo:hover{
	background: #dddddd;
	border-radius: 5px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

div.photo img{
	width: 100%;
	height: auto;
}

div.photo a{
	display: inline-block;
}

div.photo.w2{
	width: 50%;
}

div.photo a.share{
    left: 14px;
    padding: 1px 1px 0 0;
}

div.photo a.edit{
    right: 52px;
    padding: 0 0 0 1px;
}

div.photo a.share, div.photo a.edit{       
    display: none;
    position: absolute;
    bottom: 16px;
}

div.photo a.delete{
	display: none;
    position: absolute;
	bottom: 16px;
	right: 14px;
}

div.photo p{
    display: none;
    position: absolute;
    top: 20px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 5px 8px;
    font-size: 12px;
}

div#link_share{
    display: none;
    text-align: center;
}

input.link_share{
    display: block;
    padding: 2px 15px;
    text-align: center;
    margin: 12px auto;
}

div.progress{
  border: 1px solid #000;
  border-radius:5px;
  height:30px;
  width:200px;
  div.bar{
    height:100%;
    background-color:green;
  }
}

div.content_two_thirds img{
    width: 100%;
    height: auto;
}

div.field label{
    display: inline-block;
    width: 100%;
}

div.field input{
    margin-bottom: 12px;
}

div#edit_form{
    display: none;
}

a.back_button{
    width: 25%;
    padding: 3%;
    margin: 50px 0 0 0;
}

h2.photo_title, h1.user_title{
    padding: 0 0 16px 0;
    font-size: 2em;
}

p.photo_description, p.user_description{
    display: inline-block;
    width: 100%;
    font-size: 1.2em;
}

p.photo_uploader{
    margin: 15px 0;
    font-weight: 100;
}

.user_details p{
	margin-bottom: 10px;
}

.user_description span{
    font-weight: 300;
}

.user_description span#user_name, .user_description span#user_email{
	display: block;
	font-weight: 100;
}

.pagination{
    display: none;
}

#infscr-loading{
    text-align: center;
    bottom: 0px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    background: $blue;
    display: inline-block;
    position: fixed;
    z-index: 100;
}

#infscr-loading img{
    width: 30px;
    height: auto;
}
